<div class="list-group">
  <a href="/admin/categories" class="list-group-item list-group-item-action">
    <i class="bi bi-tags"></i> Categories
  </a>
  <a href="/admin/courses" class="list-group-item list-group-item-action">
    <i class="bi bi-collection-play"></i> Courses
  </a>
  <a href="/admin/instructors" class="list-group-item list-group-item-action">
    <i class="bi bi-person-badge"></i> Instructors
  </a>
  <a href="/admin/students" class="list-group-item list-group-item-action">
    <i class="bi bi-people"></i> Students
  </a>
</div>
