.course-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.course-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0,0,0,0.5); /* nền bán trong suốt */
  border-radius: 50%;
  padding: 10px;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  background-color: rgba(0,0,0,1); /* nổi bật hơn khi hover */
}



